<div class="main">
    <div class="mainTitle d-flex justify-content-between">
        <p> Action List  </p>
        <p> <img src="../../../../../assets/img/home/action list/actionIcon.png" alt=""></p>
    </div>
    <div>
        <div class="item" *ngFor="let item of items; index as i">
            <i class="bx bx-x colse"></i>
            <div class="header row">
                <span class="col-3 p-0 m-0">
                    <img  [src]="item.img" alt="">
                </span>

                <span class="col-9 p-0 m-0">
                    <div class="title">
                        <small> {{item.small}} </small>
                        {{item.title}}
                    </div>
                </span>
            </div>

            <div class="body">
                <div class="row">
                    <span class="col-3 p-0 m-0"> </span>
                    <span class="description col-9 p-0 m-0">
                        <p>  {{item.description}} </p>
                        <span> See Details <i class="bx bx-chevron-right h4 cursor-pointer "></i> </span>
                    </span>
                </div>
            </div>

            <div class="footer d-flex justify-content-between" *ngIf='item.actions'>
                <div class="redoIcon"> 
                    <i class="bx bx-redo"></i>
                </div>
                <div class="circleIcon"> 
                    <i class="bx bx-x x"></i>
                    <i class="bx bx-check check"></i>
                </div>
            </div>
        </div>
    </div>
</div>