<div class="comments d-flex">
    <div class="imgContainer">
        <img src="assets/img/navbar/Rectangle@2x.png" alt="">
    </div>
    <div class="info">
        <div class="header d-flex justify-content-between">
            <div>
                <h2 class="name">  Samir Mohanad </h2>
                <span class="bio"> UI Designer </span>
            </div>
            <div class="activeTime">
                3 min ago
            </div>
        </div>

        <div class="body">
            <p>
                simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry’s standard ever… <span> See More </span>
            </p>
        </div>
        <div class="footer">
            <div>
                <img src="assets/img/home/posts/gray like.png" alt="">
                <span class="likes"> 10 Likes </span>
                <span class="delete"> Delete </span>
            </div>
        </div>
        <span class="line">.</span>
    </div>
</div>
