<div class="comments d-flex" *ngFor="let comment of comments; index as i">
    <div class="imgContainer col-2 p-0 m-0">
        <img [src]="comment.img" alt="">
    </div>
    <div class="info col-10 p-0 m-0">
        <div class="header d-flex justify-content-between">
            <div>
                <h2 class="name">  {{comment.name}} </h2>
                <span class="bio">{{comment.jobTitle}}  </span>
            </div>
            <div class="activeTime">
                {{comment.time}} 
            </div>
        </div>

        <div class="body">
            <p> {{ ( comment.comment.length > 90 ) ? ( comment.comment | slice:0:90 )+ "..." :  comment.comment }}
              <span class="seeMore" *ngIf="comment.comment.length > 100"> See More </span>
            </p>
        </div>
        
        <div class="footer">
            <div>
                <img src="assets/img/home/posts/gray like.png" alt="">
                <span class="likes"> {{comment.likes}} Likes </span>
                <span class="delete" *ngIf="comment.isDeleted"> Delete </span>
            </div>
        </div>
        <span class="line" *ngIf="comment.id == 0"> </span>
    </div>
</div>
