<!-- Start Not Authorized Area -->
<div class="not-authorized-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="not-authorized-content">
                <img src="/assets/img/not-found.svg" alt="">
                <h2>Not Found!</h2>
                <p>It looks like you are trying to access a page that has been deleted or never even existed.</p>

                <a class="default-btn" (click)="goBack()">Back to Home</a>
            </div>
        </div>
    </div>
</div>
<!-- End Not Authorized Area -->