/*================================================
Default CSS
=================================================*/

body {
    color: $nero_color;
    background-color: $white-color;
    padding: 0;
    margin: 0;
    font: {
        size: $font-size;
        family: $font-family;
    };
}

img {
    max-width: 100%;
    height: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: $nero_color;
    font: {
        family: $font-family;
    };
}

a {
    transition: $transition;
    outline: 0 !important;
}

p {
    line-height: 1.8;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

button, input {
    outline: 0 !important;
}

.btn-outline-light {
    color: $blue_charcoal_color;
}

/*dropdown-css*/
.dropdown-menu {
    box-shadow: -7px 8px 16px 0 rgba(55, 70, 95, 0.2);
    background-color: $white-color;
    border-color: $whisper_color ;

    .form-control {
        border-radius: 5px;
        height: 45px;
    }
}

/*progress-css*/
.progress + .progress {
    margin-top: 1rem;
}

/*modal-css*/
.modal {
    p {
        line-height: 1.8;
        color: $slate_gray_color;
    }
}

/*forms*/
.form-check-input {
    margin-top: .20rem;
}

.form-control {
    &:focus {
        box-shadow: unset;
        border-color: $main-color;
    }
}

.display-contents{
    display: contents;
}