@import "../../../../../assets/css/utils/variables.scss";
.center-registration-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  background-color: $white-color;
  button{
    border-color: $main-color;
    color: $main-color;
  }
}