<app-password-reset-navbar></app-password-reset-navbar>
<div class="password-reset-container d-flex justify-content-center col-md-12">
  <div
    class="
      password-reset-main
      bg-white
      col-lg-11
      p-4
      d-flex
      justify-content-center
      flex-column
    "
  >
    <div class="email-sent-success d-flex flex-column align-items-center mt-4">
      <img
        class="email-sent-illustration"
        src="/assets/img/password-reset-success.svg"
        alt=""
      />
      <h2 class="password-reset-title">
        Congratulations, Password has been reset!
      </h2>
      <p class="password-reset-info">
        Now you can login to home without any problems.
      </p>
      <button
        routerLink="/login"
        class="btn btn-main col-xs-12 col-sm-8 col-md-4"
      >
        Login
      </button>
    </div>
  </div>
</div>
