  /* start progress bar */
  .progress_bar {
    .progress-value {
      margin-bottom: 5px;
      span {
        &:first-of-type {
          font-weight: bold;
          padding-right: 3px;
        }
      }
    }
    .progress_body {
      background: #f1f3f8;
      width: 89px;
      height: 4px;
      border-radius: 6px;
      .progress {
        background: #46ffa6;
        box-shadow: 0 0 4px 0 #46ffa6;
        height: 4px;
        border-radius: 6px;
      }
    }
  }