/*================================================
Forgot Password CSS
=================================================*/
.forgot-password-area {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: #f6f7fb;

    &.bg-image {
        background: {
            image: url(/assets/img/forgot-password-bg.jpg);
            position: center center;
            size: cover;
            repeat: no-repeat;
        };
    }
    .d-table {
        width: 100%;
        height: 100%;

        &-cell {
            vertical-align: middle;
        }
    }
    .forgot-password-content {
        max-width: 900px;
        background: $white-color;
        border-radius: 5px;
        overflow: hidden;
        padding: 50px 60px 50px 30px;
        box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
        margin: {
            left: auto;
            right: auto;
        };
        .image {
            text-align: center;
        }
        .forgot-password-form {
            padding-left: 30px;

            h2 {
                font: {
                    size: 30px;
                    weight: 700;
                };
                margin: {
                    top: 30px;
                    bottom: 0;
                };
            }
            p {
                color: #6c757d;
                margin-top: 7px;
            }
            form {
                margin-top: 25px;
    
                .form-group {
                    margin-bottom: 30px;
                    width: 100%;
                    position: relative;
    
                    .label-title {
                        margin-bottom: 0;
                        position: absolute;
                        display: block;
                        left: 0;
                        top: 0;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        color: $nero_color;
    
                        i {
                            position: absolute;
                            left: 0;
                            transition: $transition;
                            top: 9px;
                            font: {
                                size: 22px;
                            };
                        }
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            transition: $transition;
                            background: $main-color;
                        }
                    }
                    .form-control {
                        border-radius: 0;
                        border: none;
                        border-bottom: 2px solid #adadad;
                        padding: 0 0 0 32px;
                        color: $nero_color;
                        height: 45px;
                        transition: $transition;
                        font: {
                            family: $font-family;
                            size: 17px;
                            weight: 500;
                        };
                        &::placeholder {
                            color: #A1A1A1;
                            transition: $transition;
                        }
                        &:focus {
                            padding-left: 5px;
                            
                            &::placeholder {
                                color: transparent;
                            }
                        }
                        &:focus+.label-title::before {
                            width: 100%;
                        }
                        &:focus+.label-title {
                            color: #A1A1A1;
    
                            i {
                                top: -22px;
                            }
                        }
                    }
                }
                .forgot-password-btn {
                    padding: 12px 35px 11px;
                    border-radius: 30px;
                    border: none;
                    text-transform: uppercase;
                    transition: $transition;
                    background-color: $main-color;
                    color: $white-color;
                    font: {
                        size: $font-size;
                        weight: 700;
                    };
                    &:hover, &:focus {
                        background-color: $nero_color;
                        color: $white-color;
                    }
                }
            }
        }
    }
}
