.weather{
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 30px;
    height: 239px;
    .header{
        padding:10px 10px 0 10px;
        align-items: center;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            height: 90px;
            top: 0;
            right: 37%;
            width: 2px;
            background: $solitude_color;
        }
        .sun{
            img{
                width:40px;
                height: 40px;
                margin:10px;
            }
            .info{
                width: 110px;
                p{
                    margin: 0;
                    padding: 0;
                    color:#6372ac;
                }
                h1{
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    color:#3a4778;
                    font-weight: bold;
                }
                h3{
                    color:#6372ac;
                    font-size: .3rem;
                }
            }
        }
        
        .fisher{
            position: relative;
            right: 7px;        
            margin: auto;
            i{
                position: absolute;
                color:#7ab700;
                top:-6px;
                right:4px;
                font-size: 25px;
            }
        }
    }

    .body{
        position: relative;
        &::before{
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background: $solitude_color;
        }
        &::after{
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background: $solitude_color;
            position: absolute;
            top: 44px;
        }
        .celsius{
            display: flex;
            justify-content: space-between;
            padding: 10px 10px 15px 10px;
            background: #fff;
            margin-bottom: 0;
            //min-height: 150px;
            .item{
                text-align: center;
                .name{
                    padding: 0;
                    margin: 0;
                    color: $perano_color;
                    margin-bottom: 16px;
                    font-weight: 500;
                    font-size: 0.3rem;
                    text-align: left;
                    text-align: center;
                    margin-top: 0;
                }
                P,h2{
                    padding:0;
                    margin:0;
                    font-size: .7rem;
                }
                p{
                    font-size: .3em;
                }
            }
        }
    }
}

.darkColor{
    background:#e1e6f8 !important;
}

.skeletonHight{
    height: 38px;
}