._badge {
    display: inline-block;
    border-radius: 10px;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin: 2px;
}

.b-primary {
    color: $main-color;
    background-color: $light-main-color;
}

.b-success {
    color: $dark-success-color;
    background-color: $light-success-color;
}

.b-indigo {
    color: $indigo-color;
    background-color: $light-indigo-color;
}

.b-warning {
    color: $warning-color;
    background-color: $light-warning-color;
}

.b-danger {
    color: $danger-color;
    background-color: $light-danger-color;
}

.b-gray {
    color: $night_rider_color;
    background-color: $light-gray-color;
}
