@import "../utils/variables.scss";

.table-container {
    overflow-x: auto;
}

.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    background-clip: border-box;
    margin-top: 28px;

    thead tr {
        color: $white-color !important;
        font-size: 0.8125rem !important;
        font-weight: 400 !important;
        border: none !important;
    }

    tbody {
        .attatchments-wrapper {
            display: flex;
            align-items: center;

            i {
                font-size: 20px !important;
                color: $main-color;
                margin-right: 8px;
            }

            span {
                color: $main-color;
            }
        }

        .bx-credit-card {
            color: $sub_title_color;
        }

        .sub-title {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            color: $sub_title_color;
        }
        .date_time{
            border:1.5px dashed $simi_gray_color;
            background: $alice_blue_color;
            border-radius: 10px ;
            margin: 0;
            padding:5px 7px;
            .time{
                color:$main-color;
            }
        }
    }

    tr {
        &:hover {
            .action-btn {
                visibility: visible;
            }

            &::ng-deep .popover {
                visibility: visible !important;
            }
        }

        th {
            background: linear-gradient(272.62deg, $black_russian_color 63.43%, $black_russian_color 79.46%, $black_russian_color 91.37%, $black_russian_color 144.58%);
            &:first-child {
                border-radius: 10px 0 0 10px;
            }

            &:last-child {
                border-radius: 0px 10px 10px 0px;
            }
        }
    }

    td {
        vertical-align: middle !important;
        font-size: 0.8rem !important;
        border-top: 1px solid $white_smoke_color;
    }

    .userName{
        text-transform: capitalize;
    }
}

.custom-table thead > tr > th {
    border: none !important;
}

.table > tbody > tr:first-child > td {
    border: none;
}

.centers-table {
    .responsible-card {
        display: flex;
        align-items: center;
        background-color: $alice_blue_color;
        border-radius: 10px;
        padding: 8px 8px 8px 6px;
        max-width: 250px;

        .responsible-card-icon {
            margin-right: 8px;

            button {
                background-color: $solitude_color;
                border: none;
                border-radius: 6px;
                display: flex;
                align-items: center;
                padding: 8px;

                i {
                    font-size: 24px;
                    color: $mischka_color;
                }
            }
        }

        .responsible-card-info {
            display: flex;
            flex-direction: column;
            width: 70%;

            .responsible-name {
                color: $night_rider_color;
            }

            .responsible-email {
                color: $sub_title_color;
                font-size: 10px;
            }
        }
    }
}

.settings-table tr:last-child td:nth-last-child(3) {
    color: $main-color;
}

//Table Pagination
.my-pagination {
    padding: 0px !important;

    .ngx-pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;

        li {
            border-radius: 10px;
            margin: 0 2px;

            a:hover {
                border-radius: 10px;
                background-color: rgb(244, 244, 244);
            }
        }

        .current {
            color: $main-color;
            background: none;
            border: 1px solid;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}
