.main{
    width: 500px;
    height: 500px;
    margin:200px auto;
    border:1px solid #f50;
    .carousel-inner{
        display: flex;
        .carousel-item{
            width:150px;
            height: 150px;
            border:1px solid #f55;
        }
        .active{
            border:1px solid #00f;
            width:50% !important;
            height: 200px;
            border-radius: 50%;
            margin:20px auto;
        }
    }
}