/*================================================
Top Navbar CSS
=================================================*/
.top-navbar {
   // border-bottom: 1px solid #999;
    position: relative;
   .radius{
    position: absolute;
    display: block;
    top: -12px;
    left: -2px;
    width: 40px;
    height: 40px;
    background-color: $solitude_color;
    border-top: 12px solid $white_color;
    border-left: 12px solid $white_color;
    overflow: hidden;
    border-top-left-radius: 31px;
   }
    &.navbar {
        padding: 20px 20px 0 37px;

        .nav-item {
            margin-left: 15px;
            .nav-link {
                padding: 0;
                color: $chambray_color;
                font-weight: 500;
                i{
                    font-size: 26px;
                }

                &.dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
                .bx-chevron-down {
                    font-size: 18px;
                    position: relative;
                    display: inline-block;
                    top: 3px;
                    margin-left: -4px;
                    color: $chambray_color;
                }
                img {
                    width: 30px;
                    margin-right: 3px;
                }
                .badge {
                    position: absolute;
                    top: -2px;
                    right: -7px;
                    display: block;
                    border-radius: 42%;
                    border: 2px solid $white_smoke_color;
                    font-size: 0.4rem;
                    line-height: 12px;
                    background: $amaranth_color;
                    height: 22px;
                    top: -3px;
                    left: 10px;
                    width: 27px;
                    padding-top: 4px;
                    box-shadow: 0 0 0 rgb(255 0 10 / 90%);
                    &.badge-secondary {
                    
                    }
                    &.badge-primary {
                 
                    }
                }
                &.bx-fullscreen-btn {
                    font-size: 22px;
                    position: relative;
                    cursor: pointer;
                    top: 3px;
                    margin-right: 5px;
    
                    &:hover {
                        color: $main-color;
                    }
                    &.active {
                        i {
                            &::before {
                                content: "\ea5d";
                            }
                        }
                    }
                }
            }
            &.dropdown {
                .dropdown-menu {
                    max-width: 280px;
                    position: absolute;
                    right: 0;
                    left: auto;
                    border-radius: 2px;
                    margin-top: 20px;
                    border: none;
                    display: block;
                    transition: .3s;
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
                    background-color: $white-color;
    
                    &.show {
                        margin-top: 10px;
                        opacity: 1;
                        visibility: visible;
                    }
                    .dropdown-item {
                        color: $nero_color;
                        padding: 5px 15px;
                        position: relative;
                        font: {
                            size: $font-size;
                        };
                        &.active, &:active {
                            color: $nero_color;
                            background-color: transparent;
                            background-color: $alice_blue_color;
                        }
                    }
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &.language-switch-nav-item {
                .nav-link {
                    img {
                        width: 25px;
                        margin-right: 7px;
                        position: relative;
                        top: -2px;
                        border-radius: 2px;
                    }
                }
                &.dropdown {
                    .dropdown-menu {
                        left: 50%;
                        right: auto;
                        transform: translateX(-50%);

                        .dropdown-item {
                            padding: 5px 20px;
                            font-size: 14.5px;
                            img {
                                width: 27px;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
            &.notification-box {
                .dropdown-menu {
                    width: 350px;
                    max-width: 350px;
                    border-radius: 5px 5px 0 0;
                    padding: 0;
    
                    .dropdown-header {
                        border-radius: 5px 5px 0 0;
                        background-color: $main-color;
                        color: $white-color;
                        padding: {
                            left: 15px;
                            right: 15px;
                            top: 9px;
                            bottom: 7px;
                        };
                        span {
                            font: {
                                size: 13px;
                                weight: 600;
                            };
                            &.mark-all-btn {
                                cursor: pointer;
                            }
                        }
                    }
                    .dropdown-body {
                        padding: {
                            top: 10px;
                            bottom: 10px;
                        };
                        .dropdown-item {
                            padding: 7px 15px;
    
                            .icon {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                position: relative;
                                background: $alice_blue_color;
                                text-align: center;
                                color: $main-color;
                                transition: $transition;

                                i {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                            .content {
                                padding-left: 15px;
    
                                span {
                                    color: $nero_color;
                                    margin-bottom: 1px;
                                    font: {
                                        size: 14.5px;
                                        weight: 600;
                                    };
                                }
                                p {
                                    font-size: 12px;
                                    color: $dim_gray_color;
                                }
                            }
                            &:hover {
                                .icon {
                                    background-color: $main-color;
                                    color: $white-color;
                                }
                            }
                            &:nth-child(2) {
                                .icon {
                                    background: rgba(114, 124, 245, .1);
                                    color: $Medium_slate_blue_color;
                                }
                                &:hover {
                                    .icon {
                                        background-color: $Medium_slate_blue_color;
                                        color: $white-color;
                                    }
                                }
                            }
                            &:nth-child(3) {
                                .icon {
                                    background: rgba(16, 183, 89, .1);
                                    color: $pigment_green_color;
                                }
                                &:hover {
                                    .icon {
                                        background-color: $pigment_green_color;
                                        color: $white-color;
                                    }
                                }
                            }
                            &:nth-child(4) {
                                .icon {
                                    background: rgba(255, 51, 102, .1);
                                    color: $danger-color;
                                }
                                &:hover {
                                    .icon {
                                        background-color: $danger-color;
                                        color: $white-color;
                                    }
                                }
                            }
                            &:nth-child(5) {
                                .icon {
                                    background: rgba(251, 188, 6, .1);
                                    color: $selective_yellow_color;
                                }
                                &:hover {
                                    .icon {
                                        background-color: $selective_yellow_color;
                                        color: $white-color;
                                    }
                                }
                            }
                        }
                    }
                    .dropdown-footer {
                        text-align: center;
                        padding: 10px 15px;
                        border-top: 1px solid $whisper_color;
                        
                        .dropdown-item {
                            color: $main-color !important;
                            padding: 0;
                            position: relative;
                            display: inline-block;
                            width: auto;
                            background-color: transparent !important;
                            font: {
                                size: 14px;
                                weight: 600;
                            };
                        }
                    }
                }
            }
            .notification-btn {
                font-size: 20px;
                position: relative;
                margin-right: 7px;
    
                i {
                    position: relative;
                    top: 3px;
                    animation: ring 4s .7s ease-in-out infinite;
                }
            }
            &.message-box {
                .dropdown-menu {
                    width: 350px;
                    max-width: 350px;
                    border-radius: 5px 5px 0 0;
                    padding: 0;
    
                    .dropdown-header {
                        border-radius: 5px 5px 0 0;
                        background-color: $royal_blue_color;
                        color: $white-color;
                        padding: {
                            left: 15px;
                            right: 15px;
                            top: 9px;
                            bottom: 7px;
                        };
                        span {
                            font: {
                                size: 13px;
                                weight: 600;
                            };
                            &.clear-all-btn {
                                cursor: pointer;
                            }
                        }
                    }
                    .dropdown-body {
                        padding: {
                            top: 10px;
                            bottom: 10px;
                        };
                        .dropdown-item {
                            padding: 7px 15px;
    
                            .figure {
                                img {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                            .content {
                                width: 285px;
                                padding-left: 12px;
    
                                span {
                                    color: $nero_color;
                                    margin-bottom: 2px;
                                    font: {
                                        size: 14.5px;
                                        weight: 600;
                                    };
                                }
                                .time-text {
                                    font-size: 13px;
                                    color: $dim_gray_color;
                                }
                                .sub-text {
                                    font-size: 12.5px;
                                    color: $dim_gray_color;
                                }
                            }
                            &:hover {
                                .icon {
                                    background-color: $main-color;
                                    color: $white-color;
                                }
                            }
                        }
                    }
                    .dropdown-footer {
                        text-align: center;
                        padding: 10px 15px;
                        border-top: 1px solid $whisper_color;
                        
                        .dropdown-item {
                            color: $royal_blue_color !important;
                            padding: 0;
                            position: relative;
                            display: inline-block;
                            width: auto;
                            background-color: transparent !important;
                            font: {
                                size: 14px;
                                weight: 600;
                            };
                        }
                    }
                }
            }
            .message-btn {
                font-size: 20px;
                position: relative;
                margin-right: 7px;
    
                i {
                    position: relative;
                    top: 3px;
                }
            }
            &.apps-box {
                .dropdown-menu {
                    width: 350px;
                    max-width: 350px;
                    border-radius: 5px 5px 0 0;
                    padding: 0;
                    left: 0;
                    right: auto;
    
                    .dropdown-header {
                        border-radius: 5px 5px 0 0;
                        background-color: $royal_blue_color;
                        color: $white-color;
                        padding: {
                            left: 15px;
                            right: 15px;
                            top: 9px;
                            bottom: 7px;
                        };
                        span {
                            font: {
                                size: 13px;
                                weight: 600;
                            };
                            &.edit-btn {
                                cursor: pointer;
                            }
                        }
                    }
                    .dropdown-body {
                        padding: 10px 5px;
                        .dropdown-item {
                            -ms-flex: 0 0 25%;
                            flex: 0 0 25%;
                            max-width: 25%;
                            text-align: center;
                            padding: 8px 10px;
    
                            span {
                                margin-top: 8px;
                                font-weight: 600;
                            }
                        }
                    }
                    .dropdown-footer {
                        text-align: center;
                        padding: 10px 15px;
                        border-top: 1px solid $whisper_color;
                        .dropdown-item {
                            color: $royal_blue_color !important;
                            padding: 0;
                            position: relative;
                            display: inline-block;
                            width: auto;
                            background-color: transparent !important;
                            font: {
                                size: 14px;
                                weight: 600;
                            };
                        }
                    }
                }
            }
        }

        //for points
        .pointParent{
            margin-right: 30px;
            &::after{
                content: "";
                display: block;
                width: 7px;
                border-radius: 50%;
                height: 7px;
                background: $perano_color;
                position: absolute;
                top: 12px;
                right: -21px;
            }
        }
        .notification{
            &::before{
                content: "";
                display: block;
                width: 7px;
                border-radius: 50%;
                height: 7px;
                background: $perano_color;
                position: absolute;
                top: 12px;
                left: -21px;
            }
        }

    
        .profile-nav-item {
            .menu-profile {
                img{
                    width: 49px;
                    height: 49px;
                    margin: 0 16px 0 0;
                    object-fit: contain;
                    border-radius: 13px;
                }

                .name {
                    color: #3a4778;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    font: {
                        weight: 600;
                    }
                }
               
                .icon{
                    position: relative;
                    font-size: 32px;
                    top: 10px;
                    padding-left: 8px;
                }
            }

            &.dropdown {
                .dropdown-menu {
                    padding: 15px 15px 10px;
                    min-width: 230px;
                    border-radius: 15px;
                    right: -48px;
                    .arrow{
                        position: absolute;
                        top: -15px;
                        right: 50px;
                        width: 20px;
                        height: 20px;
                        border-left: 9px solid transparent;
                        border-right: 11px solid transparent;
                        border-bottom: 16px solid #fff;
                    }
                    .dropdown-header {
                        padding: 0;
                        border-bottom: 1px solid #f2f4f9;
                        .figure {
                            position: relative;
    
                            img {
                                width: 80px;
                                height: 80px;
                            }
                        }
                        .name {
                            display: block;
                            color: $nero_color;
                            margin-bottom: 2px;
                            font: {
                                size: 17px;
                                weight: 700;
                            };
                        }
                        .email {
                            color: $dim_gray_color;
                        }
                    }
                    .dropdown-body {
                        ul {
                            padding-left: 0;
                            list-style-type: none;
                            margin-bottom: 0;
                        }
                        .nav-item {
                            margin-left: 0;
                            background: #f3f6ff;
                            border-radius: 8px;
                            &:last-of-type{
                                margin-top: 15px;
                            }    
                            .nav-link {
                                color: $nero_color;
                                padding: 10px 15px 10px 38px;
                                position: relative;
                                font-weight: bold;
                                color: #3a4778;
                                i {
                                    color: $dim_gray_color;
                                    transition: $transition;
                                    position: absolute;
                                    left: 12px;
                                    top: 11px;
                                    color: #3a4778;
                                    transform: scaleX(-1);
                                    font: {
                                        size: 23px;
                                    };
                                }
                                &.active, &:active {
                                    color: $nero_color;
                                    background-color: transparent;
                                    background-color: #f8f9fa;
                                }
                                &:hover {
                                    i {
                                        transform: rotateY(-180deg);
                                    }
                                }
                            }
                        }
                    }
                    .dropdown-footer {
                        margin: 10px -15px 0;
                        padding: 10px 15px 0;
                        border-top: 1px solid $whisper_color;
    
                        ul {
                            padding-left: 0;
                            list-style-type: none;
                            margin-bottom: 0;
                        }
                        .nav-item {
                            .nav-link {
                                color: red;
                                padding: 5px 15px 5px 38px;
                                position: relative;
                                font: {
                                    size: 14px;
                                    weight: 600;
                                };
                                i {
                                    color: red;
                                    transition: $transition;
                                    position: absolute;
                                    left: 15px;
                                    top: 7px;
                                    font: {
                                        size: 16px;
                                    };
                                }
                                &.active, &:active {
                                    color: $nero_color;
                                    background-color: transparent;
                                    background-color: #f8f9fa;
                                }
                                &:hover {
                                    i {
                                        transform: rotateY(-180deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        &.is-sticky {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.07);
            background: $white-color !important;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            width:100% ;
            padding: {
                left: 117px;
                right: 50px;
                top: 17px;
                bottom: 17px;
            };
           
        }
    }

 /*
   <div class="d-flex time">
        <div class="clock">
            <img src="assets/img/navbar/clock1.png" alt="">
        </div>
        <div class="date">
            <h1> 03:30 PM </h1>
            <p> Monday, 23 Sep 2021 </p>
        </div>
    </div>
 */
  

.search{
    margin-right: 25px;
}

}
@keyframes ring {
    0% {
        transform: rotateZ(0);
    }
    1% {
        transform: rotateZ(30deg);
    }
    3% {
        transform: rotateZ(-28deg);
    }
    5% {
        transform: rotateZ(34deg);
    }
    7% {
        transform: rotateZ(-32deg);
    }
    9% {
        transform: rotateZ(30deg);
    }
    11% {
        transform: rotateZ(-28deg);
    }
    13% {
        transform: rotateZ(26deg);
    }
    15% {
        transform: rotateZ(-24deg);
    }
    17% {
        transform: rotateZ(22deg);
    }
    19% {
        transform: rotateZ(-20deg);
    }
    21% {
        transform: rotateZ(18deg);
    }
    23% {
        transform: rotateZ(-16deg);
    }
    25% {
        transform: rotateZ(14deg);
    }
    27% {
        transform: rotateZ(-12deg);
    }
    29% {
        transform: rotateZ(10deg);
    }
    31% {
        transform: rotateZ(-8deg);
    }
    33% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    37% {
        transform: rotateZ(2deg);
    }
    39% {
        transform: rotateZ(-1deg);
    }
    41% {
        transform: rotateZ(1deg);
    }
    43% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes pulse-secondary {
    0% {
        box-shadow: 0 0 0 rgba(255, 0, 10, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 0, 10, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 10, 0);
    }
}
@keyframes pulse-primary {
    0% {
        box-shadow: 0 0 0 rgba(41, 98, 255, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(41, 98, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(41, 98, 255, 0);
    }
}