/*================================================
Sidemenu CSS
=================================================*/
.sidemenu-area {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width:90px;
    z-index: 2000;
    transition: $transition;
    background:#fff;
    .sidemenu-header{
        position: relative;
        .arrow{
            position: absolute;
            right: -18px;
            bottom: -86px;
            display: block;
            font-size: 27px;
            border-radius: 50%;
            padding: 3px;
            text-align: center;
            background: #f2f5fb;
            cursor: pointer;
        }
        a{
            display: block;
            width:50px;
            height: 50%;
            margin:10px auto;
        }
    }
    .arrowMenu{
        display: flex;
        height: 70vh;
        align-items: center;
        position: absolute;
        left:-225px;
        cursor: pointer;
        p{
            width: 259px;
            height: 355px;
            background: #e8f6fd;
            border-radius: 50%;
            color:#000;
            line-height:355px;
            text-align:right;
            padding-right: 0;
            i{
                color:#B6BFE1;
                font-size: 40px;
            }
        }
    }

    .sidemenu-nav{
        padding:0;
        margin:0;
        list-style: none;
        position: relative;
        top: 70px;
        left: 50px;
        li{
            margin-top: 20px;
            .icon{
                cursor: pointer;
                img{
                   // background: red;
                    border-radius: 7px;
                    padding: 3px;
                    &:hover{
                        background: #f2f5fb;
                    }
                }
            }
        }
    }
}

.active{
    background: #f2f5fb;
    border-radius: 7px;
    padding: 3px;
}

