.main{
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    //padding:10px;
    .header{
        padding:10px 10px 0 10px;
        align-items: center;
        .sun{
            img{
                width:40px;
                height: 40px;
                margin:10px;
            }
            .info{
                p{
                    margin: 0;
                    padding: 0;
                    color:#6372ac;
                }
                h1{
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    color:#3a4778;
                    font-weight: bold;
                }
                h3{
                    color:#6372ac;
                    font-size: .3rem;
                }
            }
        }
        
        .fisher{
            position: relative;
            right: 7px;        
            margin: auto;
            i{
                position: absolute;
                color:#7ab700;
                top:-6px;
                right:4px;
                font-size: 25px;
            }
        }
    }

    .body{
        .weekly{
            display: flex;
            justify-content: space-between;
            padding:4px 10px;
            background: #fff;
            border-top:1px solid #F2F5FB;
            border-bottom:1px solid #F2F5FB;
          
            p{
                padding:0;
                margin:0;
                color: #b6bfe1;
                font-weight: 500;
                font-size: .3rem;
                text-align: left;
            }
        }

        .celsius{
            display: flex;
            justify-content: space-between;
            padding:10px;
            background: #fff;
            margin-bottom: 0;
            .item{
                text-align: center;
                P,h2{
                    padding:0;
                    margin:0;
                    font-size: .7rem;
                }
                p{
                    font-size: .3em;
                }
            }
        }
    }
}