<div class="main">
    <div class="header">
        <div class="row">
            <div class="col-8 p-0 m-0">
                <div class="sun d-flex">
                    <img  src="assets/img/home/weater/sun.png" alt="">
                    <div class="info">
                        <p> Sun </p>
                        <h1> 31°C </h1>
                        <h3> Wind: 08 km/h </h3>
                    </div>
                </div>
            </div>
            <div class="fisher col-4 p-0 m-0">
                <img src="assets/img/home/weater/fisher.png" alt="">
                <i class="bx bx-check-circle"></i> 
            </div>
        </div>
    </div>

    <div class="body">
        <div class="weekly">
            <p> Mon </p>
            <p> Tue </p>
            <p> Wed </p>
            <p> Thu </p>
        </div>
        <div class="celsius">
            <div class="item">
                <h2> 31°C </h2>
                <p> 1 km/h </p>
                <img src="assets/img/home/weater/sun.png" alt="">
            </div>

            <div class="item">
                <h2> 31°C </h2>
                <p> 8 km/h </p>
                <img src="assets/img/home/weater/sun.png" alt="">
            </div>

            <div class="item">
                <h2> 31°C </h2>
                <p> 7 km/h </p>
                <img src="assets/img/home/weater/sun.png" alt="">           
             </div>

            <div class="item">
                <h2> 31°C </h2>
                <p> 5 km/h </p>
                <img src="assets/img/home/weater/sun.png" alt="">
            </div>
        </div>
    </div>
</div>
