<div class="birthDays" *ngIf="loading">
    <div class="cardHeader">
        <p class="title"> <i class="bx bx-gift"></i>  Birthdays </p>
        <small>Today we have 3 birthdays</small>
    </div>

    <div class="cardBody">
        <div class="persons">
            <img src="../../../../../assets/img/home/trips/Ellipse 28@2x.png" alt="">
        </div>
    </div>
    <div class="cardFooter">
        <div class="imgContainer">
            <img src="../../../assets/img/profile/birthdayCard/Group 199.png" alt="">
        </div>
    </div>
</div>



<!------------------------- Start Skeleton Loader ------------>
<skeleton-loader
    *ngIf="!loading"
    [type]="'birthday'"
    [count]="count">
</skeleton-loader>
<!---------------------------- End Skeleton Loader ------------>
