<app-password-reset-navbar></app-password-reset-navbar>
<div class="password-reset-container d-flex justify-content-center col-md-12">
  <div
    class="
      password-reset-main
      bg-white
      col-lg-11
      p-4
      d-flex
      justify-content-center
      flex-column
    "
  >
    <div class="email-sent-success d-flex flex-column align-items-center mt-4">
      <img
        class="email-sent-illustration"
        src="/assets/img/password-reset-illustration.svg"
        alt=""
      />
      <h2 class="password-reset-title">We have sent you an email!</h2>
      <p class="password-reset-info">
        Please check the email we’ve sent you to reset your password!
      </p>
    </div>
  </div>
</div>
