<div class="main">
    <div class="header d-flex justify-content-between">
        <h2 class="title"> Latest Activity </h2>
        <p class="department d-flex">
            <img src="assets/img/home/last activity/Group 375.png" alt="">
            <span> My Department </span>
            <label class="switch">
                <input type="checkbox"
                       formControlName="showResult" />
                <span class="slider"></span>
              </label>
        </p>
    </div>
    <div class="body d-flex">
        <img src="assets/img/home/trips/Ellipse 27.jpg" alt="">
        <span> Write Something ! </span>
    </div>
    <div class="footer d-flex justify-content-between">
        <div class="imgs">
            <img src="assets/img/home/last activity/Group 366.png" alt="">
            <img src="assets/img/home/last activity/Group 367.png" alt="">
        </div>
        <div class="post">
            <button class="btn"> 
                <img src="../../../../../assets/img/home/last activity/Group 363.png" alt="">
                Post
            </button>
        </div>
    </div>
</div>
