.main{
    background: #fff;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.04);
    .header{
        .title{
            font-weight: bold;
            color: #3a4778;
            font-size: 1.1rem;
        }
        .department{
            img{

            }
            span{
               padding:0 10px;
               font-weight: 500;
               font-stretch: normal;
               color: #b6bfe1;
            }
            .switch{
                position: relative;
                top: 5px;
            }
        }
    }
    .body{
        padding:12px  14px;
        border-radius: 12px;
        background-color: #f7f9fd;
        img{
          width: 38px;
          height: 38px;
          border-radius: 50%;
        }
        span{
            padding-left: 6px;
            margin-top: 8px;
            color: #b5c1df;
        }
    }
    .footer{
        margin-top: 15px;
        .imgs{
            img{
                cursor: pointer;
                &:first-of-type{
                    padding-right: 10px;
                }
            }
        }
        .post{
            button{
                outline: none;
                width: 102px;
                height: 32px;
                padding: 8px 24px 6px;
                border-radius: 8px;
                background-color: #3a4778;
                color:#fff;
                img{
                    padding-right:5px;
                }
            }
        }
    }
}