<div class="main">
    <div class="post" *ngFor="let post of posts; index as i">
        <div class="header d-flex">
            <div class="imgContainer">
                <img [src]="post.img" alt="">
                <img *ngIf="post.status === 'active'" class="activeLastSeen" src="assets/img/home/posts/active.png" alt="">
                <img *ngIf="post.status === 'lastSeen'"  class="activeLastSeen" src="assets/img/home/posts/lastSeen.png" alt="">
            </div>
            <div class="info">
                <div class="d-flex">
                    <h2 class="name"> {{post.name}} </h2>
                    <span class="title"> {{post.type}} </span>
                    <p class="place">  {{post.place}} </p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </div>
                <span class="time"> {{post.time}} </span>
            </div>
        </div>

        <div class="body">
            <div class="bigContainer">
                <div class="imgContainer" *ngFor="let postImg of post.postImgs; index as i">
                    <img [src]="postImg.img" alt="">
                </div>
            </div>

            <div class="discription">
                <h2 class="title"> {{post.postQues}} </h2>
                <p class="paragraph">
                    {{ ( post.postDescription.length > 90 ) ? ( post.postDescription | slice:0:90 )+ "..." :  post.postDescription }}
                    <span *ngIf="post.postDescription.length > 100"> See More </span>
                </p>
            </div>
        </div>

        <div class="footer d-flex justify-content-between">
            <div>
                <img src="assets/img/home/posts/like.png" alt="">
                <span class="like"> {{post.likes}} </span>
                <img src="assets/img/home/posts/commint.png" alt="">
                <span class="comment"> {{post.commentsNumber}} </span>
            </div>
            <div class="seen">
                <img src="assets/img/home/posts/eye.png" alt="">
                <span> {{post.views}} </span>
            </div>
        </div>

        <div class="addComment">
            <input type="text" class="formControl" placeholder="Add Comment …">
        </div>

        <div class="comments">
            <comment [comments]="post?.comments"></comment>
        </div>

        <div class="loadMore" *ngIf='post.comments !=""'>
            <p class="text-center"> Load more comments </p>
        </div>
    </div>
</div>
