<div class="main">
    <div class="post">
        <div class="header d-flex">
            <div class="imgContainer">
                <img src="assets/img/home/posts/Ellipse 36.png" alt="">
            </div>
            <div class="info">
                <div class="d-flex">
                    <h2 class="name"> Samir Mohanad </h2>
                    <span class="title"> added new post in </span>
                    <p class="place">  Front-End Department </p>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </div>
                <span class="time"> Today at 8:30 AM </span>
            </div>
        </div>

        <div class="body">
            <div class="imgContainer">
                <img src="assets/img/home/posts/Mask Group 49@2x.png" alt="">
            </div>
            <div class="discription">
                <h2 class="title"> What is the best resources to learn front-end for free? </h2>
                <p class="paragraph">
                    simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                    industry’s standard dummy text ever since … <span> See More </span>
                </p>
            </div>
        </div>

        <div class="footer d-flex justify-content-between">
            <div>
                <img src="assets/img/home/posts/like.png" alt="">
                <span class="like"> 20 </span>
                <img src="assets/img/home/posts/commint.png" alt="">
                <span> 06 </span>
            </div>
            <div class="seen">
                <img src="assets/img/home/posts/eye.png" alt="">
                <span> 25 </span>
            </div>
        </div>

        <div class="addComment">
            <p>
                Add Comment …
            </p>
        </div>

        <div class="comments">
            <comment></comment>
            <comment></comment>
        </div>

        <div class="loadMore">
            <p class="text-center"> Load more comments </p>
        </div>
    </div>
</div>
