<!-- Start Sidemenu Area -->
<div class="sidemenu-area">
  <div class="sidemenu-header">
    <i class="bx arrow bx-chevron-right"></i>
    <a routerLink="/home" class="">
      <img class="sidebar-logo" src="../../../assets/img/logo/Mask Group 54.png" alt="image">
    </a>
  </div>
  <div class="sidemenu-body">
      <div class="menus d-flex">
        <div class="arrowMenu"> 
            <p>
              <i class="bx bx-chevron-left"></i>
            </p>
        </div>
        <div>
          <ul class="sidemenu-nav metisMenu h-100">
            <li *ngFor="let menu of menus; index as i" > 
              <span class="icon">
                <a  [routerLink]='menu.routerLink' >
                  <img [src]="menu.img" alt="">
                </a> 
              </span>
            </li>
          </ul>
        </div>

      </div>
  </div>
</div>
<!-- End  Area -->