<app-password-reset-navbar></app-password-reset-navbar>
<div class="password-reset-container d-flex justify-content-center col-md-12">
  <div class="password-reset-main bg-white col-lg-11 p-4">
    <div class="container col-lg-12 mt-5 d-flex justify-content-between">
      <div class="back-btn col-lg-3">
        <a routerLink="#" class="text-decoration-none"
          ><button class="btn btn-normal">
            <i class="bx bx-chevron-left h4 m-0"></i></button
        ></a>
      </div>
    </div>
    <div class="email-input-form d-flex flex-column align-items-center mt-4">
      <h2 class="password-reset-title">Forgot Password</h2>
      <p class="password-reset-info">
        Enter your email, then we’ll send you an email to reset your passsword!
      </p>
      <form
        [formGroup]="form"
        (submit)="handleSubmit()"
        class="col-xs-12 col-sm-8 col-md-4"
      >
        <div class="form-group">
          <label class="form-label">Email</label>
          <input
            placeholder="Email Address..."
            type="text"
            class="form-input"
            formControlName="email"
          />
          <small
            class="text-danger"
            *ngIf="email.errors?.required && isFormSubmitted"
            >Email address is required</small
          >
          <small
            class="text-danger"
            *ngIf="email.errors?.pattern && isFormSubmitted"
            >Please enter a valid email address</small
          >
          <small
            class="text-danger"
            *ngIf="isEmailExists && isFormSubmitted"
            >Please enter a valid email address</small
          >
        </div>
        <button type="submit" class="btn btn-main col-md-12">
          Next
          <i class="bx bx-chevron-right"></i>
        </button>
      </form>
    </div>
  </div>
</div>
