<div class="main">
    <div class="imgContainer">
      <img src="../../../../../assets/img/home/trips/Mask Group 48.png" alt="">
    </div>
    <div class="info">
      <h2> Ready For Summer Trip? </h2>
      <p>It’s our biggest trip this year, be readyfor the adventure …</p>
    </div>
    <div class="footer d-flex justify-content-between">
      <span class="going"> <i class="bx bx-check-circle"></i> Going </span>
      <span class="people"> 
        <img src="../../../../../assets/img/home/trips/Ellipse 27.jpg" alt="">
        <img src="../../../../../assets/img/home/trips/Ellipse 27.jpg" alt="">
        <img src="../../../../../assets/img/home/trips/Ellipse 27.jpg" alt="">
        <small> +125  </small>
      </span>
    </div>
</div>
