@import "../../../../assets/css/utils/variables.scss";
.container{
    padding: 0;
}
.status {
    .cont_status {
        display: flex;
        align-items: center;
        .shap {
            //styling for all shapes
            width: 15px;
            height: 15px;
            margin: 2px 8px 0 0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        label {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #0e101a;
            text-transform: capitalize;
            margin: 0;
        }
    }

    .success {
        //aproved status
        @extend .shap;
        background: #46ffa6;
        border: 4px solid #d1ffe9;

     
    }

    .warning {
        //pending status
        @extend .shap;
        background: #ff9865;
        border: 4px solid #ffe4d7;
    }

    .danger {
        //rejected status
        @extend .shap;
        background: $danger-color;
        border: 4px solid #ffcbd4;
    }
}
