<div class="pages" *ngIf="loading">
    <div class="title">
        <p> Pages  </p>
        <p> 120 Total <i class="bx bx-chevron-right h4 cursor-pointer m-0"></i> </p>
    </div>
    <div *ngFor="let page of pages; index as i ">
        <div class="item" [ngClass]="{'ifLoading': loading}">
            <img [src]="page.img" alt="">

            <div class="info">
                <p> {{page.title}} </p>
                <small> {{page.description}} </small>
            </div>
            <i class="bx heart bx-heart"></i>
        </div>
    </div>
</div>

<!------------------------- Start Skeleton Loader ------------>
<skeleton-loader
    *ngIf="!loading"
    [type]="'pages'"
    [count]="count">
</skeleton-loader>
<!---------------------------- End Skeleton Loader ------------>
